<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8" />
	<title>Metronic | Dashboard</title>
	<meta name="description" content="Updates and statistics" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
	<!--begin::Page Vendors Styles(used by this page)-->
	<link href="~/asset/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/asset/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
	<!--end::Page Vendors Styles-->
	<!--begin::Global Theme Styles(used by all pages)-->
	<link href="~/asset/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
	<link href="~/asset/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
	<link href="~/asset/css/style.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
	<!--end::Global Theme Styles-->
	<!--begin::Layout Themes(used by all pages)-->
	<!--end::Layout Themes-->
	@*<link rel="shortcut icon" href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo2/dist/assets/media/logos/favicon.ico" />*@

	<link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
	<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

	<!-- Hotjar Tracking Code for keenthemes.com -->
	<script>
		(function (h, o, t, j, a, r) {
			h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
			h._hjSettings = { hjid: 1070954, hjsv: 6 };
			a = o.getElementsByTagName('head')[0];
			r = o.createElement('script'); r.async = 1;
			r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
			a.appendChild(r);
		})(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-37564768-1');
	</script>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: linear-gradient(to right, #f24e30, #fa5c8c 150%)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

	<div id="loading" style="display:block;z-index:999999;"></div>
	<!--begin::Main-->
	<!--begin::Header Mobile-->
	<div id="kt_header_mobile" class="header-mobile ">
		<!--begin::Logo-->
		<a href="index.html">
			<img alt="Logo" src="~/asset/media/logos/logo-letter-1.png" class="logo-default max-h-30px" />
		</a>
		<!--end::Logo-->
		<!--begin::Toolbar-->
		<div class="d-flex align-items-center">
			<button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
				<span></span>
			</button>

			<button class="btn btn-icon btn-hover-transparent-white p-0 ml-3" id="kt_header_mobile_topbar_toggle">
			</button>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header Mobile-->
	<div class="d-flex flex-column ">
		<!--begin::Page-->
		<div class="d-flex flex-row flex-column-fluid page">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
				<!--begin::Header-->
				<div id="kt_header" class="header  header-fixed ">
					<!--begin::Container-->
					<div class=" container  d-flex align-items-stretch justify-content-between">
						<!--begin::Left-->
						<div class="d-flex align-items-stretch mr-3">
							<!--begin::Header Logo-->
							@* <div class="header-logo">
								<a href="index.html">
									<img alt="Logo" src="~/asset/media/logos/logo-letter-9.png" class="logo-default max-h-40px" />
									<img alt="Logo" src="~/asset/media/logos/logo-letter-1.png" class="logo-sticky max-h-40px" />
								</a>
							</div> *@
							<!--end::Header Logo-->
							<!--begin::Header Menu Wrapper-->
							<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
								<!--begin::Header Menu-->
								<div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
									<!--begin::Header Nav-->
									<ul class="menu-nav ">
										<a id="homeMDB" class="nav-link text-white" style="display: none; padding:0px;padding-left:5%;" asp-area="" asp-controller="Home" asp-action="Index">
											<span style="font-size:2.6rem;">BILLBOARDINDO</span>
											<span style="display:block;">Solusi Iklan Masa Depan</span>
										</a>

										<li id="dashboardMenu" class="menu-item" aria-haspopup="true" style="display: none">
											<a asp-area="" class="menu-link" asp-controller="Dashboard" asp-action="Index"><span class="menu-text">Dashboard</span><span class="menu-desc"></span></a>
										</li>
										<li id="uploadsiteMenu" class="menu-item" aria-haspopup="true" style="display: none">
											<a asp-area="" class="menu-link" asp-controller="ExportImport" asp-action="Index"><span class="menu-text">Unggah Site</span><span class="menu-desc"></span></a>
										</li>
										<li id="userMenu" class="menu-item" aria-haspopup="true" style="display: none">
											<a asp-area="" class="menu-link" asp-controller="Users" asp-action="Index"><span class="menu-text">Data Pengguna</span><span class="menu-desc"></span></a>
										</li>
										<li id="listsiteMenu" class="menu-item" aria-haspopup="true" style="display: none">
											<a asp-area="" class="menu-link" asp-controller="Site" asp-action="Index"><span class="menu-text">Data Site</span><span class="menu-desc"></span></a>
										</li>
										<li id="regionMenu" style="display: none" class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
												<span class="menu-text">Wilayah</span>
												<i class="menu-arrow"></i>
											</a>
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
												<ul class="menu-subnav">
													<li class="menu-item   " aria-haspopup="true">
														<a asp-area="" class="menu-link" asp-controller="Province" asp-action="Index"><span class="menu-text">Provinsi</span><span class="menu-desc"></span></a>
													</li>
													<li class="menu-item " aria-haspopup="true">
														<a asp-area="" class="menu-link" asp-controller="City" asp-action="Index"><span class="menu-text">Kota</span><span class="menu-desc"></span></a>
													</li>
												</ul>
											</div>
										</li>

									</ul>
									<!--end::Header Nav-->
								</div>
								<!--end::Header Menu-->
							</div>
							<!--end::Header Menu Wrapper-->
						</div>
							
						<div class="topbar">
							<div id="profileMenu" style="display: none" class="dropdown">
								<div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
									<div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
										<span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
										<span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">@HttpContextAccessor.HttpContext.Session.GetString("_FNAME")</span>
									</div>
								</div>
										
								<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">                                    
									<div class="navi navi-spacer-x-0 pt-5">
										<a id="addspv" style="display:none;" asp-area="" asp-controller="Profile" asp-action="Register" class="navi-item px-8">
											<div class="navi-link">
												<div class="navi-text">
													<div class="font-weight-bold">
														Add Supervisor
													</div>
												</div>
											</div>
										</a>

										<a asp-area="" asp-controller="Profile" asp-action="Update" class="navi-item px-8">
											<div class="navi-link">
												<div class="navi-text">
													<div class="font-weight-bold">
														Edit Profil
													</div>
												</div>
											</div>
										</a>
														
										<a asp-area="" asp-controller="Profile" asp-action="ChangePassword" class="navi-item px-8">
											<div class="navi-link">
												<div class="navi-text">
													<div class="font-weight-bold">
														Ganti Kata Sandi
													</div>
												</div>
											</div>
										</a>
														
										<div class="navi-separator mt-3"></div>
										<div class="navi-footer  px-8 py-5">
											<a asp-area="" asp-controller="Profile" asp-action="LogOut" class="btn btn-light-primary font-weight-bold">Logout</a>
										</div>
									</div>
								</div>
							</div>

							<div id="loginMenu" class="dropdown">
								<div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
									<div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
										<span class="text-white font-weight-bold ">Login Area</span>
									</div>
								</div>
										
								<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">                                    
									<div class="navi navi-spacer-x-0 pt-5">
										@*<a asp-area="" asp-controller="Login" asp-action="OwnerLogon" class="navi-item px-8">
											<div class="navi-link">
												<div class="navi-text">
													<div class="font-weight-bold">
														Media Buyer
													</div>
												</div>
											</div>
										</a>*@
														
										<a asp-area="" asp-controller="Login" asp-action="OwnerLogon" class="navi-item px-8">
											<div class="navi-link">
												<div class="navi-text">
													<div class="font-weight-bold">
														Media Owner
													</div>
												</div>
											</div>
										</a>

										<a asp-area="" asp-controller="Login" asp-action="AdminLogon" class="navi-item px-8">
											<div class="navi-link">
												<div class="navi-text">
													<div class="font-weight-bold">
														Admin / SPV
													</div>
												</div>
											</div>
										</a>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Main-->

	<!--begin::Global Config(global config for global JS scripts)-->
	<script>
			var KTAppSettings = {
					"breakpoints": {
							"sm": 576,
							"md": 768,
							"lg": 992,
							"xl": 1200,
							"xxl": 1200
					},
					"colors": {
							"theme": {
									"base": {
											"white": "#ffffff",
											"primary": "#6993FF",
											"secondary": "#E5EAEE",
											"success": "#1BC5BD",
											"info": "#8950FC",
											"warning": "#FFA800",
											"danger": "#F64E60",
											"light": "#F3F6F9",
											"dark": "#212121"
									},
									"light": {
											"white": "#ffffff",
											"primary": "#E1E9FF",
											"secondary": "#ECF0F3",
											"success": "#C9F7F5",
											"info": "#EEE5FF",
											"warning": "#FFF4DE",
											"danger": "#FFE2E5",
											"light": "#F3F6F9",
											"dark": "#D6D6E0"
									},
									"inverse": {
											"white": "#ffffff",
											"primary": "#ffffff",
											"secondary": "#212121",
											"success": "#ffffff",
											"info": "#ffffff",
											"warning": "#ffffff",
											"danger": "#ffffff",
											"light": "#464E5F",
											"dark": "#ffffff"
									}
							},
							"gray": {
									"gray-100": "#F3F6F9",
									"gray-200": "#ECF0F3",
									"gray-300": "#E5EAEE",
									"gray-400": "#D6D6E0",
									"gray-500": "#B5B5C3",
									"gray-600": "#80808F",
									"gray-700": "#464E5F",
									"gray-800": "#1B283F",
									"gray-900": "#212121"
							}
					},
					"font-family": "Poppins"
			};
	</script>
	<!--end::Global Config-->
	<!--begin::Global Theme Bundle(used by all pages)-->
	<script src="~/asset/plugins/global/plugins.bundle.js" asp-append-version="true"></script>
	<script src="~/asset/plugins/custom/prismjs/prismjs.bundle.js" asp-append-version="true"></script>
	<script src="~/asset/js/scripts.bundle.js" asp-append-version="true"></script>
	<!--end::Global Theme Bundle-->
	<!--begin::Page Vendors(used by this page)-->
	<script src="~/asset/plugins/custom/fullcalendar/fullcalendar.bundle.js" asp-append-version="true"></script>
	<!--end::Page Vendors-->
	<!--begin::Page Scripts(used by this page)-->
	<script src="~/asset/js/pages/widgets.js" asp-append-version="true"></script>
	<!--end::Page Scripts-->
	<div class="d-flex flex-column-fluid">
		<div class="container" style="margin-top:25px;width:100%;max-width:100%">
				@RenderBody()
		</div>
	</div>

	<div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">
		<span class="fa fa-spinner fa-spin fa-3x"></span>
	</div>

	<br />
	<div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
			<div id="footerFull" class="container" style="display:none;"></div>
			<!--begin::Container-->
			<div id="footerOne" class=" container  d-flex flex-column flex-md-row align-items-center justify-content-between">
					<!--begin::Copyright-->            
					
						<div class="text-dark order-2 order-md-1">
							<span class="text-muted font-weight-bold mr-2">2020 - Billboardindo©</span>
							<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</div>
						<!--end::Copyright-->
						<!--begin::Nav-->
						<div class="nav nav-dark order-1 order-md-2">
							
						</div>
					<!--end::Nav-->
			</div>
			<!--end::Container-->
	</div>
	<!-- /#wrapper -->

	<environment include="Development">
		@*<script type="text/javascript" src="~/lib/jquery/dist/jquery.js" crossorigin="anonymous"></script>*@
		<script type="text/javascript" src="~/js/jquery/V3.4.1/jquery-v3.4.1.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/jquery/jquery-v3.4.1.js" crossorigin="anonymous"></script>
		@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
					asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
					asp-fallback-test="window.jQuery"
					crossorigin="anonymous"
					integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
			</script>*@
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
		</script>
	</environment>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="~/js/jquery/jquery-ui.js" asp-append-version="true"></script>
	<script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
	<script type="text/javascript" src="~/js/dropzone.js" asp-append-version="true"></script>
	<script type="text/javascript" src="~/js/dropzone.min.js" asp-append-version="true"></script>
	@*<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCLo4CFnVHu7H7kxuWPZEnJYMQ6d1l6Mw&callback=initMap"></script>*@
	@*<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCLo4CFnVHu7H7kxuWPZEnJYMQ6d1l6Mw&libraries=places&callback=initMap"></script>*@
	<script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script type="text/javascript" src="~/js/Moment-with-local.js"></script>
	<script type="text/javascript" src="~/js/canvasjs.min.js"></script>
	<script type="text/javascript" src="~/js/dropzone.js"></script>
	<script type="text/javascript" src="~/js/dropzone.min.js"></script>
	<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/js/bootstrap/bootsrap-datetimepicker.js"></script>
	<script type="text/javascript" src="~/js/DataTable/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/buttons.flash.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/buttons.html5.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/buttons.print.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/jszip.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/pdfmake.min.js"></script>
	<script type="text/javascript" src="~/js/DataTable/vfs_fonts.js"></script>
	<script type="text/javascript" src="~/js/DataTable/buttons.colVis.min.js"></script>	
	@*<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjrac-6MHc6-JNehr3r1lFBC-vqI_Wh88&callback=initMap"></script>*@
	@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initMap"></script>*@
	@using Microsoft.AspNetCore.Http
	@inject IHttpContextAccessor HttpContextAccessor
	<script>
		@*var cities = @Html.Raw(Json.Serialize(Model));*@
		
		var dropdown = document.getElementsByClassName("dropdown-btn");
		for (var i = 0; i < dropdown.length; i++) {
			dropdown[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var dropdownContent = this.nextElementSibling;
				if (dropdownContent.style.display === "block") {
					dropdownContent.style.display = "none";
				} else {
					dropdownContent.style.display = "block";
				}
			});
		}
		var mapsData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
		var cities;
		if (mapsData != null)
		{
			cities = mapsData.Cities
		}
		var domain = '@HttpContextAccessor.HttpContext.Session.GetString("_Domain")';
		//console.log("Domain: "+domain);
		var BaseUrl = window.location.origin;
		if (domain != "")
		{
			BaseUrl += "/" + domain;
		}
		var isFiltered = '@HttpContextAccessor.HttpContext.Session.GetString("_ROLE")';
		var siteIndexUrl = '@Url.Action("Index", "Site")';

		function modalShow() {
			$("#loadmodal").modal("show");
		}

		function modalHide() {
			$("#loadmodal").modal("hide");
		}

		//#region UploadImage
		Dropzone.autoDiscover = false;
		if (document.getElementById("dropzoneJsForm")) {
			var myDropzone = new Dropzone("#dropzoneJsForm",
				{
					paramName: "file",
					maxFilesize: 20,
					maxFiles: 4,
					acceptedFiles: "image/*",
					dictMaxFilesExceeded: "Maximum files are 4 files 1 time.",
					init: function () {
						this.on("success", function (data) {
							//console.log('Success');
							//console.log(data);
						});
					}
				}
			);
		}
		//#endregion

		//#region Dropdown
		function FillBank() {
			$.post(BaseUrl + "/Dashboard/GetBank", null, function (data) {
				if (data) {
					//console.log(data);
					var bankid = $("#bankIDHidden").val();
					$("#lstbank").append("<option value=''>Pilih Bank</option>");
					$(data).each(function () {
						if (this.bankID == bankid) {
							$("#lstbank").append('<option value=' + this.bankID + ' selected>' + this.bank + '</option >');
						} else {
							$("#lstbank").append($('<option/>', { value: this.bankID }).html(this.bank));
						}
					});
				}
			}, 'json')
		}

		function FillType() {
			$.post(BaseUrl + "/Dashboard/GetType", null, function (data) {
				if (data) {
					//console.log(data);
					var typekode = $("#typeIDHidden").val();
					$("#lsttype").append("<option value=''>Pilih Type</option>");
					$(data).each(function () {
						if (this.type == typekode) {
							$("#lsttype").append('<option value=' + this.type + ' selected>' + this.type + '</option >');
						} else {
							$("#lsttype").append($('<option/>', { value: this.type }).html(this.type));
						}
						//$("#stypemenu").append('<a href="#" class="filter smenu">' + this.type + '</a>');
					});
				}
			}, 'json')
		}

		function FillProvince() {
			$.post(BaseUrl + "/Dashboard/GetProvince", null, function (data) {
				if (data) {
					//console.log(data);
					var provID = $("#selectedProv").val();
					$("#lstprovince").append("<option value=''>Pilih Provinsi</option>");
					$(data).each(function () {
						if (this.provinsi == provID || this.provinceID == provID) {
							$("#lstprovince").append('<option value=' + this.kode + '|' + this.provinsi + ' selected>' + this.provinsi + '</option >');
							$.post(BaseUrl + "/Dashboard/GetCity?kodeprov=" + this.kode, null, function (data) {
								if (data) {
									$("#lstcity").empty();
									//console.log(data);
									var cityID = $("#selectedCity").val();
									$("#lstcity").append("<option value=''>Pilih Kota</option>");
									$(data).each(function () {
										//console.log(this);
										if (this.kota == cityID) {
											$("#lstcity").append('<option value=' + this.kota + ' selected>' + this.kota + '</option >');
										} else {
											$("#lstcity").append($('<option/>', { value: this.kota }).html(this.kota));
										}
									});
								}
							}, 'json')
						} else {
							$("#lstprovince").append($('<option/>', { value: this.kode + '|' + this.provinsi }).html(this.provinsi));
						}
					});
				}
			}, 'json')
		}

		$("#lstprovince").change(function () {
			var kode = document.getElementById("lstprovince").value
			if (kode != 0) {
				kode = kode.split('|', 1);
				$.post(BaseUrl + "/Dashboard/GetCity?kodeprov=" + kode, null, function (data) {
					if (data) {
						$("#lstcity").empty();
						//console.log(data);
						var cityID = $("#selectedCity").val();
						$("#lstcity").append("<option value=''>Pilih Kota</option>");
						$(data).each(function () {
							//console.log(this);
							if (this.kota == cityID) {
								$("#lstcity").append('<option value=' + this.kota + ' selected>' + this.kota + '</option >');
							} else {
								$("#lstcity").append($('<option/>', { value: this.kota }).html(this.kota));
							}
						});
					}
				}, 'json')
			}
		});
		//#endregion

		//#region NumberFormat
		function setInputFilter(textbox, inputFilter) {
			if (textbox != null) {
				["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
					textbox.addEventListener(event, function () {
						if (inputFilter(this.value)) {
							this.oldValue = this.value;
							this.oldSelectionStart = this.selectionStart;
							this.oldSelectionEnd = this.selectionEnd;
						} else if (this.hasOwnProperty("oldValue")) {
							this.value = this.oldValue;
							this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
						} else {
							this.value = "";
						}
					});
				});
			}
		}

		//#region Contoh
		//Integer
		//setInputFilter(document.getElementById("intTextBox"), function(value) {
		//  return /^-?\d*$/.test(value); });
		//Integer >= 0
		//setInputFilter(document.getElementById("uintTextBox"), function(value) {
		//  return /^\d*$/.test(value); });
		//Integer ranges
		//setInputFilter(document.getElementById("intLimitTextBox"), function(value) {
		//  return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 500); });
		//Float
		//setInputFilter(document.getElementById("floatTextBox"), function(value) {
		//  return /^-?\d*[.,]?\d*$/.test(value); });
		//Currency
		//setInputFilter(document.getElementById("currencyTextBox"), function(value) {
		//  return /^-?\d*[.,]?\d{0,2}$/.test(value); });
		//A-Z
		//setInputFilter(document.getElementById("latinTextBox"), function(value) {
		//  return /^[a-z]*$/i.test(value); });
		//Hexadecimal
		//setInputFilter(document.getElementById("hexTextBox"), function(value) {
		//	return /^[0-9a-f]*$/i.test(value);
		//});
		//#endregion

		function addCommas(nStr) {
			//console.log(nStr);
			nStr += '';
			var comma = /,/g;
			nStr = nStr.replace(comma, '');
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
		//#endregion

		//#region DateFormat
		function formatDate(date) {
			//console.log(date);
			//var monthNames = [
			//	"January", "February", "March",
			//	"April", "May", "June", "July",
			//	"August", "September", "October",
			//	"November", "December"
			//];
			var monthNames = [
				"Jan", "Feb", "Mar",
				"Apr", "May", "Jun", "Jul",
				"Aug", "Sep", "Oct",
				"Nov", "Dec"
			];


			var day = date.getDate();
			var monthIndex = date.getMonth();
			var year = date.getFullYear();

			return day + ' ' + monthNames[monthIndex] + ' ' + year;
		}
		//#endregion

		//#region lOader
		function showLoader() {
			document.getElementById("loader").style.display = "block";
			document.getElementById("divload").style.display = "none";
		}

		function showPage() {
			document.getElementById("loader").style.display = "none";
			document.getElementById("divload").style.display = "block";
		}
		//#endregion

		//#region Cart
		function addtoCart(target, bookID) {
			document.getElementById("loading").style.display = "block";
			$.post(target, { ID: bookID },
				function (returnedData) {
					document.getElementById("loading").style.display = "none";
					var urls = "/" + domain + "/Wish/Keranjang";
					urls = urls.includes("//") ? urls.replace("//", "/") : urls;
					$.get(urls, function (data, status) {
						//alert("Data added to Cart");
						location.reload(true);
					});
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
				});
		}

		function deleteCart(target, bookID) {
			document.getElementById("loading").style.display = "block";
			$.post(target, { ID: bookID },
				function (returnedData) {
					var urls = "/" + domain + "/Wish/Keranjang";
					urls = urls.includes("//") ? urls.replace("//", "/") : urls;
					$.get(urls, function (data, status) {
						alert("Data Deleted from Cart");
						location.reload(true);
						document.getElementById("loading").style.display = "none";
					});
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
				});
		}
		//#endregion

		//#region AddtoWishList
		function addWish(target, site, item) {
			document.getElementById("loading").style.display = "block";
			$.post(target, { Site: site, Item: item },
				function (returnedData) {
					alert("Data Added to WishList");
					location.reload(true);
					document.getElementById("loading").style.display = "none";
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
				});
		}

		function deleteWish(target, wishID) {
			document.getElementById("loading").style.display = "block";
			$.post(target, { ID: wishID },
				function (returnedData) {
					var urls = "/" + domain + "/Wish/Index";
					urls = urls.includes("//") ? urls.replace("//", "/") : urls;
					$.get(urls, function (data, status) {
						alert("Data Deleted from Wishlist");
						location.reload(true);
						document.getElementById("loading").style.display = "none";
					});
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
				});
		}
		//#endregion

		//#region Compare
		function addCompare(target, site, item) {
			document.getElementById("loading").style.display = "block";
			$.post(target, { Site: site, Item: item },
				function (returnedData) {
					var urls = "/" + domain + "/Rest/ViewCompare";
					urls = urls.includes("//") ? urls.replace("//", "/") : urls;
					alert("Data Added to Compare");
					$.get(urls, function (data, status) {
						$('#comview').html(data);
						document.getElementById("loading").style.display = "none";
					});
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
				});
		}
		function deleteCompare(target, compareid) {
			document.getElementById("loading").style.display = "block";
			$.post(target, { compareID: compareid },
				function (returnedData) {
					var urls = "/" + domain + "/Rest/ViewCompare";
					urls = urls.includes("//") ? urls.replace("//", "/") : urls;
					alert("Data deleted from Compare");
					$.get(urls, function (data, status) {
						$('#comview').html(data);
						document.getElementById("loading").style.display = "none";
					});
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
				});
		}
		//#endregion

		function btnapprove(link) {
			modalShow();
			let target = link.split('|')[0];
			let dofor = link.split('|')[1];
			var urls = "/" + domain + "/Dashboard/Update";
			urls = urls.includes("//") ? urls.replace("//", "/") : urls;
			$.post(urls, { ID: target },
				function (returnedData) {
					if (dofor.split('&')[1] == 'accept') {
						alert("Nomor booking " + dofor.split('&')[0] + " berhasil diapprove")
					} else {
						alert("Nomor booking " + dofor.split('&')[0] + " berhasil ditolak")
					}
					//alert("Data Updated");
					var urlx = "/" + domain + "/Wish/Keranjang";
					$.get(urlx, function (data, status) {
						location.reload();
					});
					modalHide();
				}).fail(function (e) {
					alert("Fail to Update " + e);
					modalHide();
				});
		}

		//#region SC
		(function () {
			if (!$('body').hasClass('debug_mode')) {
				var _z = console;
				Object.defineProperty(window, "console", {
					get: function () {
						if ((window && window._z && window._z._commandLineAPI) || {}) {
							return "Nice trick! but not permitted!";
						}
						return _z;
					},
					set: function (val) {
						_z = val;
					}
				});
			}
		})();
		//#endregion

		window.onload = function () {
			if (document.getElementById('chartContainer') != null) {
				var dataPoints = [];
				var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: true,
					theme: "light2", // "light1", "light2", "dark1", "dark2"
					title: {
						text: "Grafik Transaksi Bulanan"
					},
					axisY: {
						title: "Jumlah Pesanan"
					},
					data: [{
						type: "area",
						showInLegend: true,
						legendMarkerColor: "grey",
						legendText: "Bulan",
						dataPoints: dataPoints,
					}]
				});
				chart.render();
				var dashboardData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
				if (dashboardData.Chard != null) {
					dataPoints.push({ label: 'Jan', y: parseInt(dashboardData.Chard.januari) });
					dataPoints.push({ label: 'Feb', y: parseInt(dashboardData.Chard.februari) });
					dataPoints.push({ label: 'Mar', y: parseInt(dashboardData.Chard.maret) });
					dataPoints.push({ label: 'Apr', y: parseInt(dashboardData.Chard.april) });
					dataPoints.push({ label: 'May', y: parseInt(dashboardData.Chard.mei) });
					dataPoints.push({ label: 'Jun', y: parseInt(dashboardData.Chard.juni) });
					dataPoints.push({ label: 'Jul', y: parseInt(dashboardData.Chard.juli) });
					dataPoints.push({ label: 'Aug', y: parseInt(dashboardData.Chard.agustus) });
					dataPoints.push({ label: 'Sep', y: parseInt(dashboardData.Chard.september) });
					dataPoints.push({ label: 'Oct', y: parseInt(dashboardData.Chard.oktober) });
					dataPoints.push({ label: 'Nov', y: parseInt(dashboardData.Chard.november) });
					dataPoints.push({ label: 'Dec', y: parseInt(dashboardData.Chard.desember) });
				}
				chart.render();
			}
			if (document.querySelectorAll('.cust-date') != null) {
				var cdate = document.querySelectorAll('.cust-date');
				for (var i = 0; i < cdate.length; i++) {
					cdate[i].innerHTML = formatDate(new Date(cdate[i].innerHTML.toString()));
				}
			}
			if (document.querySelectorAll('.cart-price') != null) {
				var cprice = document.querySelectorAll('.cart-price');
				for (var i = 0; i < cprice.length; i++) {
					cprice[i].innerHTML = addCommas(cprice[i].innerHTML.toString());
				}
			}
		}

		//#region Wishlist
		$(".like-btn").on("click", function () {
			$(this).toggleClass("is-active");
		});
		$(".minus-btn").on("click", function (e) {
			e.preventDefault();
			var $this = $(this);
			var $input = $this.closest("div").find("input");
			var value = parseInt($input.val());

			if (value > 1) {
				value = value - 1;
			} else {
				value = 0;
			}
			$input.val(value);
		});
		$(".plus-btn").on("click", function (e) {
			e.preventDefault();
			var $this = $(this);
			var $input = $this.closest("div").find("input");
			var value = parseInt($input.val());

			if (value < 100) {
				value = value + 1;
			} else {
				value = 100;
			}
			$input.val(value);
		});
		//#endregion

		//#region Maps
		function initializeMap() {
			if (cities != null && (document.getElementById('map_canvas') != undefined || document.getElementById('map_canvas2') != undefined)) {
				google.maps.event.addDomListener(window, 'load', initMap);
			}
			if (Dcity != null && document.getElementById('map_canvas3') != undefined) {
				google.maps.event.addDomListener(window, 'load', initMap3);
			}
		}

		function initMap() {
			// map options
			var map, map2;
			var marker, marker2;
			var options = {
				zoom: 5,
				center: new google.maps.LatLng(-3.5058155, 122.6757871),
				//mapTypeId: google.maps.MapTypeId.TERRAIN,
				mapTypeControl: false,
				panControl: false,
				zoomControl: false,
				streetViewControl: false
			};
			if (cities != null && (document.getElementById('map_canvas') != undefined || document.getElementById('map_canvas2') != undefined)) {
				map = new google.maps.Map(document.getElementById('map_canvas'), options);
				map2 = new google.maps.Map(document.getElementById('map_canvas2'), options);
				//#region AutoComplete
				var card = document.getElementById('pac-card');
				var input = document.getElementById('pac-input');
				map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
				var autocomplete = new google.maps.places.Autocomplete(input);
				autocomplete.bindTo('bounds', map);
				autocomplete.setFields(['address_components', 'geometry']);

				var card2 = document.getElementById('pac-card2');
				var input2 = document.getElementById('pac-input2');
				map2.controls[google.maps.ControlPosition.TOP_RIGHT].push(card2);
				var autocomplete2 = new google.maps.places.Autocomplete(input2);
				autocomplete2.bindTo('bounds', map2);
				autocomplete2.setFields(['address_components', 'geometry']);

				var infowindow = new google.maps.InfoWindow();
				//#endregion
				for (var i = 0; i < cities.length; i++) {
					// init markers
					marker = new google.maps.Marker({
						position: new google.maps.LatLng(cities[i]['Lat'], cities[i]['Lng']),
						map: map,
						title: cities[i]['Title'],
			            anchorPoint: new google.maps.Point(0, -29)
					});
					var infowindow = new google.maps.InfoWindow({});
					google.maps.event.addListener(marker, 'click', (function (marker, i) {
						return function () {
							var contentString = '<div id="content" style="display: flex;">' +
								'<div class="col-md-5">' +
								'<img src="' + cities[i]['Image'] + '" class="listimage" style="width:150px;height:150px;" />' +
								'</div>' +
								'<div class="col-md-7" style="text-align: left;">' +
								'<h1>' + cities[i]['Title'] + '</h1>' +
								'<p style="margin-bottom: 5px;">' + cities[i]['Kota'] + ' ' + cities[i]['Prov'] + '</p>' +
								'<p style="margin-bottom: 5px;">H/V : ' + cities[i]['HorV'] + '</p>' +
								'<p style="margin-bottom: 5px;">Tipe Billboard : ' + cities[i]['Tipe'] + '</p>' +
								'<p style="margin-bottom: 5px;">Rp. <span class="price">' + cities[i]['Price'] + '</span>,-</p>' +
								'</div>' +
								'</div>';
							infowindow.setContent(cities[i]['Title']);
							infowindow.setContent(contentString);
							infowindow.open(map, marker);
						}
					})(marker, i));
					marker2 = new google.maps.Marker({
						position: new google.maps.LatLng(cities[i]['Lat'], cities[i]['Lng']),
						map: map2,
						title: cities[i]['Title']
					});
					var infowindow2 = new google.maps.InfoWindow({});
					google.maps.event.addListener(marker2, 'click', (function (marker2, i) {
						return function () {
							var contentString = '<div id="content" style="display: flex;">' +
								'<div class="col-md-5">' +
								'<img src="' + cities[i]['Image'] + '" class="listimage" style="width:150px;height:150px;" />' +
								'</div>' +
								'<div class="col-md-7" style="text-align: left;">' +
								//'<h1>' + cities[i]['Title'] + '</h1>' +
								'<h1><a href="' + BaseUrl + '/Home/ToDetail?NoBillboard=' + cities[i]['Title'] + '">' +
								'<span class="text-black">' + cities[i]['Title'] + '</span>' +
								'</a></h1>' +
								'<p style="margin-bottom: 5px;">' + cities[i]['Kota'] + ' ' + cities[i]['Prov'] + '</p>' +
								'<p style="margin-bottom: 5px;">H/V : ' + cities[i]['HorV'] + '</p>' +
								'<p style="margin-bottom: 5px;">Tipe Billboard : ' + cities[i]['Tipe'] + '</p>' +
								'<p style="margin-bottom: 5px;">Rp. <span class="price">' + cities[i]['Price'] + '</span>,-</p>' +
								'</div>' +
								'</div>';
							infowindow2.setContent(cities[i]['Title']);
							infowindow2.setContent(contentString);
							infowindow2.open(map2, marker2);
						}
					})(marker2, i));
				}
				//#region Autocomplete2
			    autocomplete.addListener('place_changed', function() {
					infowindow.close();
					marker.setVisible(false);
					var place = autocomplete.getPlace();
					if (!place.geometry) {
			    		// User entered the name of a Place that was not suggested and
			    		// pressed the Enter key, or the Place Details request failed.
			    		window.alert("No details available for input: '" + place.name + "'");
			    		return;
					}

					// If the place has a geometry, then present it on a map.
					if (place.geometry.viewport) {
			    		map.fitBounds(place.geometry.viewport);
					} else {
			    		map.setCenter(place.geometry.location);
			    		map.setZoom(17);  // Why 17? Because it looks good.
					}

					var address = '';
					if (place.address_components) {
			    		address = [
			    			(place.address_components[0] && place.address_components[0].short_name || ''),
			    			(place.address_components[1] && place.address_components[1].short_name || ''),
			    			(place.address_components[2] && place.address_components[2].short_name || '')
			    		].join(' ');
					}
			    });

			    autocomplete2.addListener('place_changed', function() {
					infowindow.close();
					marker2.setVisible(false);
					var place = autocomplete2.getPlace();
					if (!place.geometry) {
			    		// User entered the name of a Place that was not suggested and
			    		// pressed the Enter key, or the Place Details request failed.
			    		window.alert("No details available for input: '" + place.name + "'");
			    		return;
					}

					// If the place has a geometry, then present it on a map.
					if (place.geometry.viewport) {
			    		map2.fitBounds(place.geometry.viewport);
					} else {
			    		map2.setCenter(place.geometry.location);
			    		map2.setZoom(17);  // Why 17? Because it looks good.
					}

					var address = '';
					if (place.address_components) {
			    		address = [
			    			(place.address_components[0] && place.address_components[0].short_name || ''),
			    			(place.address_components[1] && place.address_components[1].short_name || ''),
			    			(place.address_components[2] && place.address_components[2].short_name || '')
			    		].join(' ');
					}
			    });
			    //#endregion
			}
		}
        //#endregion

		//#region DetailPage
		var siteData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
		var Dcity;
		if (siteData != null)
		{
			Dcity = siteData.Cities;
		}

		function initMap3() {
			// map options
			var map3;
			var marker3;
			var options = {
				zoom: 5,
				center: new google.maps.LatLng(-3.5058155, 122.6757871),
				mapTypeId: google.maps.MapTypeId.TERRAIN,
				mapTypeControl: false
			};
			if (Dcity != null && document.getElementById('map_canvas3') != undefined) {
				if (Dcity.length > 0) {
					options = {
						zoom: 5,
						center: new google.maps.LatLng(Dcity[0]['Lat'], Dcity[0]['Lng']),
						mapTypeId: google.maps.MapTypeId.TERRAIN,
						mapTypeControl: false
					};
				}
				map3 = new google.maps.Map(document.getElementById('map_canvas3'), options);
				for (var i = 0; i < Dcity.length; i++) {
					// init markers
					marker3 = new google.maps.Marker({
						position: new google.maps.LatLng(Dcity[i]['Lat'], Dcity[i]['Lng']),
						map: map3,
						title: Dcity[i]['Title']
					});
					var infowindow = new google.maps.InfoWindow({});
					google.maps.event.addListener(marker3, 'click', (function (marker3, i) {
						return function () {
							var contentString = '<div id="content" style="text-align: left;">' +
								'<h1>' + cities[i]['Title'] + '</h1>' +
								'<p style="margin-bottom: 5px;">' + cities[i]['Kota'] + ' ' + cities[i]['Prov'] + '</p>' +
								'<p style="margin-bottom: 5px;">H/V : ' + cities[i]['HorV'] + '</p>' +
								'<p style="margin-bottom: 5px;">Tipe Billboard : ' + cities[i]['Tipe'] + '</p>' +
								'<p style="margin-bottom: 5px;">Rp. <span class="price">' + cities[i]['Price'] + '</span>,-</p>' +
								'</div>';
							infowindow.setContent(Dcity[i]['Title']);
							infowindow.setContent(contentString);
							infowindow.open(map3, marker3);
						}
					})(marker3, i));
				}
			}
		}

		//if (Dcity != null && document.getElementById('map_canvas3') != undefined) {
		//	google.maps.event.addDomListener(window, 'load', initMap3);
		//}

		var Difference_In_Time = 0;
		var Difference_In_Days = 0;
		var dat1 = new Date();
		var dat2 = new Date();

		$(function () {
			var oldDatecart = new Date();
			var oldDatebook = new Date();
			var today = new Date();
			var date1 = new Date();
			var date3 = new Date();
			let duration = parseInt($("#siteDurasi").val());
			today.setDate(today.getDate() + duration);
			let today7 = ("0" + today.getMonth()).slice(-2) + "-" + ("0" + today.getDate()).slice(-2) + "-" + today.getFullYear();
			$(".datePicker").datetimepicker();
			$("#datepicker1 input").datetimepicker({
				format: 'DD-MM-YYYY',
				icons: {
					today: "fas fa-bomb",
					date: "fas fa-calendar",
					time: "fas fa-clock-o",
					up: "fa fa-arrow-up",
					next: "fa fa-arrow-right",
					down: "fa fa-arrow-down",
					previous: "fa fa-arrow-left",
					clear: "fas fa-circle-o",
					close: "fas fa-times"
				},
				locale: 'en',
                minDate: moment().format('MM-DD-YYYY'),
			});
			$("#datepicker2 input").datetimepicker({
			    format: 'DD-MM-YYYY',
				icons: {
					today: "fas fa-bomb",
					date: "fas fa-calendar",
					time: "fas fa-clock-o",
					up: "fa fa-arrow-up",
					next: "fa fa-arrow-right",
					down: "fa fa-arrow-down",
					previous: "fa fa-arrow-left",
					clear: "fas fa-circle-o",
					close: "fas fa-times"
				},
				locale: 'en',
                minDate: moment(today7).format('MM-DD-YYYY'),
			});
			$("#datepicker1").on("dp.change", function (e) {
				date1 = e.date;
				var curDate = new Date(e.date);
				var newDate = new Date();
				if (oldDatecart.getDate() != curDate.getDate()) {
					newDate.setMonth(curDate.getMonth());
					newDate.setDate(curDate.getDate() + duration);
					oldDatecart = curDate;
				} else {
					newDate.setDate(oldDatebook.getDate() + duration);
				}
				$("#datepicker2 input").data("DateTimePicker").minDate(newDate);
				$("#datepicker2 input").prop("disabled", false);
				$("#popsubmit").prop("disabled", false);
			});
			$("#datepicker2").on("dp.change", function (e) {
				dat1 = new Date(date1);
				dat2 = new Date(e.date);
				Difference_In_Time = dat2.getTime() - dat1.getTime();
				Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
				$("#durasi").val(Difference_In_Days.toFixed(0));
			});

			$("#datepicker3 input").datetimepicker({
				format: 'DD-MM-YYYY',
				icons: {
					today: "fas fa-bomb",
					date: "fas fa-calendar",
					time: "fas fa-clock-o",
					up: "fa fa-arrow-up",
					next: "fa fa-arrow-right",
					down: "fa fa-arrow-down",
					previous: "fa fa-arrow-left",
					clear: "fas fa-circle-o",
					close: "fas fa-times"
				},
				locale: 'en',
                minDate: moment().format('MM-DD-YYYY'),
			});
			$("#datepicker4 input").datetimepicker({
			    format: 'DD-MM-YYYY',
				icons: {
					today: "fas fa-bomb",
					date: "fas fa-calendar",
					time: "fas fa-clock-o",
					up: "fa fa-arrow-up",
					next: "fa fa-arrow-right",
					down: "fa fa-arrow-down",
					previous: "fa fa-arrow-left",
					clear: "fas fa-circle-o",
					close: "fas fa-times"
				},
				locale: 'en',
                minDate: moment(today7).format('MM-DD-YYYY'),
			});
			$("#datepicker3").datetimepicker();
			$("#datepicker4").datetimepicker({
				useCurrent: false //Important! See issue #1075
			});
			$("#datepicker3").on("dp.change", function (e) {
				date3 = e.date;
				var curDate = new Date(e.date);
				var newDate = new Date();
				if (oldDatebook.getDate() != curDate.getDate()) {
					newDate.setMonth(curDate.getMonth());
					newDate.setDate(curDate.getDate() + duration);
					oldDatebook = curDate;
				} else {
					newDate.setDate(oldDatebook.getDate() + duration);
				}
				$("#datepicker4 input").data("DateTimePicker").minDate(newDate);
				$("#datepicker4 input").prop("disabled", false);
				$("#popsubmitbook").prop("disabled", false);
			});
			$("#datepicker4").on("dp.change", function (e) {
				dat1 = new Date(date3);
				dat2 = new Date(e.date);
				Difference_In_Time = dat2.getTime() - dat1.getTime();
				Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
				$("#durasibook").val(Difference_In_Days.toFixed(0));
			});


			$(window).on('load', function () {
				initializeMap();
		   });
		});

		function addCart(target) {
			document.getElementById("loading").style.display = "block";
			let siteID = $("#siteID").val();
			let sitePriceID = $("#sitePriceID").val();
			let siteItemID = $("#siteItemID").val();
			let price = $("#price").val();
			let dura = $("#durasi").val();
			let total = Number(price) * Number(dura);
			$.post(target, { siteID: siteID, sitePriceID: sitePriceID, siteItemID: siteItemID, price: price, durasi: dura, totalprice: total, startDate: dat1.toISOString(), endDate: dat2.toISOString() },
				function (returnedData) {
					alert("Data Added to Cart");
					var url = '@Url.Action("ViewDetail", "Site")?id=' + siteID;
					window.location.href = url;
					$("#cartModal").modal('hide');
					document.getElementById("loading").style.display = "none";
					//$.post(domain + "/Site/ViewDetail", { id: siteID }, function (data) {
					//	$("#cartModal").modal('hide');
					//});
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
					alert("Fail to Added Data");
				});
		}

		function addBook(target) {
			document.getElementById("loading").style.display = "block";
			let siteID = $("#siteIDbook").val();
			let sitePriceID = $("#sitePriceIDbook").val();
			let siteItemID = $("#siteItemIDbook").val();
			let price = $("#pricebook").val();
			let dura = $("#durasibook").val();
			let total = Number(price) * Number(dura);
			$.post(target, { siteID: siteID, sitePriceID: sitePriceID, siteItemID: siteItemID, price: price, durasi: dura, totalprice: total, startDate: dat1.toISOString(), endDate: dat2.toISOString() },
				function (returnedData) {
					alert("Data Added to Book");
					$("#bookModal").modal('hide');
					var url = '@Url.Action("Index", "Booking")';
					window.location.href = url;
				}).fail(function (e) {
					document.getElementById("loading").style.display = "none";
					alert("Fail to Added Data");
				});
		}
		//#endregion

		//#region Booking
		function bookDetail(ID) {
			var url = '@Url.Action("BookDetail", "Booking")?id=' + ID;
			window.location.href = url;
		}
		function gotoHome() {
			var url = '@Url.Action("Index", "Home")';
			window.location.href = url;
		}
		//#endregion

		function loadScreen() {
			document.getElementById("loading").style.display = "block";
			setTimeout(function(){ document.getElementById("loading").style.display = "none"; }, 3000);
		}

		function homeSearch(page) {
			let url = '@Url.Action("SearchFilter", "Home")';
			let SData = page == 1 ? $("#hSearch").val() : $("#hSearchc").val();
			$("#loadingDiv").show();
			$.post(url, { "Data": SData, "Pages": page },
				function (data) {
					if (page == 1) {
						BlockNumber = 1;
						NoMoreData = data.NoMoreData;
						$("#divlistlst").html(data.htmlString);
						$("#divlistlst").each(function () {
							var price = $(this).find('.price');
							price.each(function () {
								var tag = $(this);
								tag[0].innerHTML = addCommas(tag[0].innerHTML);
							})
						});
					} else {
						BlockNumCom = 1;
						NoMoreData = data.NoMoreData;
						$("#comviewlst").html(data.htmlString);
						$("#comviewlst").each(function () {
							var price = $(this).find('.price');
							price.each(function () {
								var tag = $(this);
								tag[0].innerHTML = addCommas(tag[0].innerHTML);
							})
						});
					}
					$("#loadingDiv").hide();
					inProgress = false;
				}).fail(function (e) {
					$("#loadingDiv").hide();
					inProgress = false;
				});
		}

		var NoMoreData = false;
		var inProgress = false;
		$('#mainDiv').on('scroll', function () {
			var vars = {};
			var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
				vars[key] = value;
			});
			if (Math.floor($("#mainDiv").scrollTop()) >= Math.floor($("#mainDiv")[0].scrollHeight) - Math.floor($("#mainDiv").height() + 20) && !NoMoreData && !inProgress) {
				inProgress = true;
				let url = '@Url.Action("InfinateScrollAsync", "Home")';
				let tipe = '';
				let prov = ''
				let city = ''
				let minPrice = 0;
				let maxPrice = 0;
				if (Object.keys(vars).length !== 0) {
					tipe = vars['tipeBillboard'];
					prov = vars['provinsi'];
					city = vars['kota'];
					minPrice = vars['minHarga'];
					maxPrice = vars['maxHarga'];
				}
				if ($('#dtlView').css('display') == 'block' && $('#divlist').css('display') == 'block' && $("#hSearch").val() == "") {
					$("#loadingDiv").show();
					$.post(url, { "BlockNumber": BlockNumber, "Pages": 1, "tipeBillboard": tipe, "provinsi": prov, "kota": city, "minHarga": minPrice, "maxHarga": maxPrice },
						function (data) {
							BlockNumber = BlockNumber + 1;
							NoMoreData = data.NoMoreData;
							$("#divlistlst").append(data.htmlString);
							$("#divlistlst").each(function () {
								var price = $(this).find('.price');
								price.each(function () {
									var tag = $(this);
									tag[0].innerHTML = addCommas(tag[0].innerHTML);
								})
							});
							$("#loadingDiv").hide();
							inProgress = false;
						}).fail(function (e) {
							$("#loadingDiv").hide();
							inProgress = false;
						});
				} else if ($('#dtlView').css('display') == 'block' && $('#divCompare').css('display') == 'block' && $("#hSearchc").val() == "" && Math.floor($("#mainDiv").scrollTop()) >= Math.floor($("#mainDiv")[0].scrollHeight) - Math.floor($("#mainDiv").height())) {
					$("#loadingDiv").show();
					$.post(url, { "BlockNumber": BlockNumCom, "Pages": 2, "tipeBillboard": tipe, "provinsi": prov, "kota": city, "minHarga": minPrice, "maxHarga": maxPrice },
						function (data) {
							BlockNumCom = BlockNumCom + 1;
							NoMoreData = data.NoMoreData;
							$("#comviewlst").append(data.htmlString);
							$("#comviewlst").each(function () {
								var price = $(this).find('.price');
								price.each(function () {
									var tag = $(this);
									tag[0].innerHTML = addCommas(tag[0].innerHTML);
								})
							});
							$("#loadingDiv").hide();
							inProgress = false;
						}).fail(function (e) {
							$("#loadingDiv").hide();
							inProgress = false;
						});
				} else {
					inProgress = false;
				}
			}
		});

		$(document).ready(function() {
            //#region NavBar
			//console.log(isFiltered);
			if (isFiltered == '') {
				document.getElementById("addspv").style.display = "none";
				document.getElementById("homeMDB").style.display = "";
				document.getElementById("footerFull").style.display = "none";
				document.getElementById("footerOne").style.display = "";
				document.getElementById("dashboardMenu").style.display = "none";
				document.getElementById("userMenu").style.display = "none";
				document.getElementById("listsiteMenu").style.display = "none";
				document.getElementById("regionMenu").style.display = "none";
				document.getElementById("uploadsiteMenu").style.display = "none";
				document.getElementById("profileMenu").style.display = "none";
				document.getElementById("loginMenu").style.display = "none";
			} 
			else if (isFiltered == 'ADM') {
				document.getElementById("addspv").style.display = "none";
				document.getElementById("homeMDB").style.display = "none";
				document.getElementById("footerFull").style.display = "none";
				document.getElementById("footerOne").style.display = "";
				document.getElementById("dashboardMenu").style.display = "";
				document.getElementById("userMenu").style.display = "";
				document.getElementById("listsiteMenu").style.display = "";
				document.getElementById("regionMenu").style.display = "";
				document.getElementById("uploadsiteMenu").style.display = "";
				document.getElementById("profileMenu").style.display = "";
				document.getElementById("loginMenu").style.display = "none";
			} 
			else if (isFiltered == 'SPV') {
				document.getElementById("addspv").style.display = "none";
				document.getElementById("homeMDB").style.display = "none";
				document.getElementById("footerFull").style.display = "none";
				document.getElementById("footerOne").style.display = "";
				document.getElementById("dashboardMenu").style.display = "";
				document.getElementById("userMenu").style.display = "none";
				document.getElementById("listsiteMenu").style.display = "";
				document.getElementById("regionMenu").style.display = "";
				document.getElementById("uploadsiteMenu").style.display = "";
				document.getElementById("profileMenu").style.display = "";
				document.getElementById("loginMenu").style.display = "none";
			} 
			else if (isFiltered == 'MDO') {
				document.getElementById("addspv").style.display = "none";
				document.getElementById("homeMDB").style.display = "none";
				document.getElementById("footerFull").style.display = "none";
				document.getElementById("footerOne").style.display = "";
				document.getElementById("dashboardMenu").style.display = "";
				document.getElementById("userMenu").style.display = "none";
				document.getElementById("listsiteMenu").style.display = "";
				document.getElementById("regionMenu").style.display = "none";
				document.getElementById("uploadsiteMenu").style.display = "";
				document.getElementById("profileMenu").style.display = "";
				document.getElementById("loginMenu").style.display = "none";
			} 
			else {
				document.getElementById("addspv").style.display = "none";
				document.getElementById("homeMDB").style.display = "";
				document.getElementById("footerFull").style.display = "none";
				document.getElementById("footerOne").style.display = "";
				document.getElementById("dashboardMenu").style.display = "none";
				document.getElementById("userMenu").style.display = "none";
				document.getElementById("listsiteMenu").style.display = "none";
				document.getElementById("regionMenu").style.display = "none";
				document.getElementById("uploadsiteMenu").style.display = "none";
				document.getElementById("profileMenu").style.display = "";
				document.getElementById("loginMenu").style.display = "none";
      }
            //#endregion

			$("#top-toggle").click(function () {
				if ($("#navbarSupportedContent").hasClass('show')) {
					$("#navbarSupportedContent").removeClass('show');
					$("#top-toggle").attr("aria-expanded","false");
					alert('Hide');
				} else {
					$("#navbarSupportedContent").addClass('show');
					alert('Show');
				}
			});

			//setInputFilter(document.getElementById("lowPrice"), function(value) {
			//  return /^-?\d*[.,]?\d{0,2}$/.test(value); });
			//setInputFilter(document.getElementById("hightPrice"), function(value) {
			//  return /^-?\d*[.,]?\d{0,2}$/.test(value); });

			$("#keranjang").click(function () {
				$("#cartModal").modal('show');
			});
			$("#btnHideModal").click(function () {
				$("#cartModal").modal('hide');
			});
			$("#booknow").click(function () {
				$("#bookModal").modal('show');
			});
			$("#btnHideModalbook").click(function () {
				$("#bookModal").modal('hide');
			});
			$("#filtered").click(function () {
				$("#filterModal").modal('show');
			});
			$("#btnHideModalfilter").click(function () {
				$("#filterModal").modal('hide');
			});
			$("#reportSite").click(function (data) {
				$("#siteReport").text($("#siteDetail").text());
				$("#reportModal").modal('show');
			});
			$("#btnHideModalreport").click(function () {
				$("#reportModal").modal('hide');
			});
			$("#btnHideModalchange").click(function () {
				$("#changeModal").modal('hide');
			});

			$('.optradio').change(function (e) {
				var selectedValue = $(this).val();
				$('#amtBayar').val(selectedValue);
				$('#pamount').text(addCommas(selectedValue));
			});
			//#region ThousandSeparator
			$('#Harga').keyup(function () {
				setInputFilter(document.getElementById("Harga"), function (value) {
					return /^[0-9.,]+$/.test(value);
				});
				var num = $('#Harga').val();
				var comma = /,/g;
				num = num.replace(comma, '');
				$('#Hargax').val(num);
				var numCommas = addCommas(num);
				$('#Harga').val(numCommas);
			});
			//#endregion

			FillBank();
			FillType();
			FillProvince();
			$("#lstcity").append("<option value=''>Pilih Kota</option>");

			if (document.getElementById("dtlPrice") != null) {
				document.getElementById("dtlPrice").innerHTML = addCommas(document.getElementById("dtlPrice").innerHTML);
			}

			$("#example1").each(function () {
				var price = $(this).find('.price');
				price.each(function () {
					var tag = $(this);
					tag[0].innerHTML = addCommas(tag[0].innerHTML);
				})
				var cdate = $(this).find('.custom-date');
				cdate.each(function () {
					var tag = $(this);
					if (tag[0].innerHTML != "") {
						tag[0].innerHTML = formatDate(new Date(tag[0].innerHTML.toString()));
					}
				})
			})

			$('#example1').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				],
				initComplete: function() {
					$('div.dataTables_length select').addClass('form-control-sm');
					$('div.dataTables_filter input').addClass('form-control').attr('placeholder','Search . . .');
				},
				language: { search: '' }
			});

			//#region Table
			//#region ListSite
			if (isFiltered == 'ADM' || isFiltered == 'MDO') {
				$('#listSite').css('min-height','400');
				$('#listSite').DataTable({
					//dom: 'Bfrtip',
					dom: 'lBfrtip',
					buttons: [
						//'copy', 'csv', 'excel', 'pdf', 'print'
						//'colvis',
						{
							extend: 'colvis',
							className: 'ml-3',
						},
						{
							extend: 'csv',
							exportOptions: {
								columns: ':visible'
							}
						},
						{
							extend: 'excel',
							exportOptions: {
								columns: ':visible'
							}
						},
						{
							extend: 'pdf',
							exportOptions: {
								columns: ':visible'
							}
						},
						{
							extend: 'print',
							exportOptions: {
								columns: ':visible'
							}
						}
					],
					initComplete: function() {
						$('div.dataTables_length select').addClass('form-control-sm');
						$('div.dataTables_filter input').addClass('form-control').attr('placeholder','Search . . .');
					},
					sAjaxSource: "@Url.Action("lstSite", "Site")",
					bServerSide: true,
					bProcessing: true,
					bSearchable: false,
					pagingType: "full_numbers",
					order: [[1, 'asc']],
					lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "All"]],
					language: {
						emptyTable: "No record found.",
						search: '',
						processing:
							'<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
					},
					columns: [
						{
							data: 'noBillboard',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'alamat',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'kota',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'provinsi',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'pulau',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'cabang',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'tipe',
							autoWidth: true,
							searchable: true
						}
					],
					columnDefs: [
						{
							targets: 7,
							data: 'siteID',
							render: function (data, type, row, meta) {
								return '<a href="Site/IndexItem/' + data + '" class="btn btn-primary btn-sm">Detail</a>';
							}
						},
						{
							targets: 8,
							data: null,
							render: function (data, type, row, meta) {
								return '<div class="btn-group"><a href="" class="btn ' +(row.status=="Enable"?  "btn-success" : "btn-secondary")+ ' btn-sm" onclick="Disabled(\'' + row.siteID + '\',\'' + row.status + '\',\'' + row.noBillboard + '\')">' + row.status + '</a> <a href="Site/Update/' + row.siteID + '" class="btn btn-info btn-sm">Perbarui</a> <a href="" onclick="Delete(\'' + row.siteID + '\')" class="btn btn-danger btn-sm">Hapus</a></div>';
							}
						}
					]
				});
			} else if (isFiltered == 'SPV') {
				$('#listSite').css('min-height','400');
				$('#listSite').DataTable({
					//dom: 'Bfrtip',
					dom: 'lBfrtip',
					buttons: [
						'copy', 'csv', 'excel', 'pdf', 'print'
					],
					initComplete: function() {
						$('div.dataTables_length select').addClass('form-control-sm');
						$('div.dataTables_filter input').addClass('form-control').attr('placeholder','Search . . .');
					},
					sAjaxSource: "@Url.Action("lstSite", "Site")",
					bServerSide: true,
					bProcessing: true,
					bSearchable: false,
					pagingType: "full_numbers",
					order: [[1, 'asc']],
					lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "All"]],
					language: {
						emptyTable: "No record found.",
						search: '',
						processing:
							'<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
					},
					columns: [
						{
							data: 'noBillboard',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'alamat',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'kota',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'provinsi',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'pulau',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'cabang',
							autoWidth: true,
							searchable: true
						},
						{
							data: 'tipe',
							autoWidth: true,
							searchable: true
						}
					]
				});
			}
			//#endregion
			//#endregion
			$("#tdasboard").each(function () {
				var price = $(this).find('.price');
				price.each(function () {
					var tag = $(this);
					tag[0].innerHTML = addCommas(tag[0].innerHTML);
				})
				var cdate = $(this).find('.custom-date');
				cdate.each(function () {
					var tag = $(this);
					if (tag[0].innerHTML != "") {
						tag[0].innerHTML = formatDate(new Date(tag[0].innerHTML));
					}
				})
			})

			$('#tdasboard').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				],
				initComplete: function() {
					$('div.dataTables_length select').addClass('form-control-sm');
					$('div.dataTables_filter input').addClass('form-control').attr('placeholder','Cari . . .');
				},
				autoWidth: false,
				language: { search: '' },
				columnDefs: [
					{ 'width': '80px', 'targets': 2 },
					{ 'width': '80px', 'targets': 3 }
				]
			});

			$("#tdasboard1").each(function () {
				var price = $(this).find('.price');
				price.each(function () {
					var tag = $(this);
					tag[0].innerHTML = addCommas(tag[0].innerHTML);
				})
				var cdate = $(this).find('.custom-date');
				cdate.each(function () {
					var tag = $(this);
					if (tag[0].innerHTML != "") {
						tag[0].innerHTML = formatDate(new Date(tag[0].innerHTML));
					}
				})
			})

			$('#tdasboard1').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				],
				initComplete: function() {
					$('div.dataTables_length select').addClass('form-control-sm');
					$('div.dataTables_filter input').addClass('form-control').attr('placeholder','Cari . . .');
				},
				language: { search: '' },
				autoWidth: false,
				columnDefs: [
					{ 'width': '350px', 'targets': 4 }
				]
			});

			$("#divlistlst").each(function () {
				var price = $(this).find('.price');
				price.each(function () {
					var tag = $(this);
					tag[0].innerHTML = addCommas(tag[0].innerHTML);
				})
			})

			$("#divfilter").each(function () {
				var price = $(this).find('.price');
				price.each(function () {
					var tag = $(this);
					tag[0].innerHTML = addCommas(tag[0].innerHTML);
				})
			})

			$("#divCompare").each(function () {
				var price = $(this).find('.price');
				price.each(function () {
					var tag = $(this);
					tag[0].innerHTML = addCommas(tag[0].innerHTML);
				})
			})

			//#region UploadPage
			$('#btnUpload').on('click', function () {
				var fileExtension = ['xls', 'xlsx'];
				var filename = $('#fUpload').val();
				if (filename.length == 0) {
					alert("Please select a file.");
					return false;
				}
				else {
					var extension = filename.replace(/^.*\./, '');
					if ($.inArray(extension, fileExtension) == -1) {
						alert("Please select only excel files.");
						return false;
					}
					else if (!filename.includes("BillboardIndo_Site")) {
						alert("Please upload BillboardIndo_Site Document.");
						return false;
					}
				}
				var fdata = new FormData();
				var fileUpload = $("#fUpload")[0];
				var files = fileUpload.files;
				fdata.append(files[0].name, files[0]);
				showLoader();
				$.ajax({
					type: "POST",
					url: "@Url.Action("OnPostImport", "ExportImport")",
					beforesend: function (xhr) {
						xhr.setrequestheader("xsrf-token", $('input:hidden[name="__requestverificationtoken"]').val());
					},
					data: fdata,
					contentType: false,
					processData: false,
					success: function (response) {
						if (response.length == 0)
						{
							alert('Some error occured while uploading');
						}
						else
						{
							$('#dvData').html(response);
						}
						showPage();
					},
					error: function (e) {
						//$('#dvData').html(e.responseText);
						$('#dvData').html('Mohon check file input anda!' + e.responseText.toString());
						showPage();
					}
				});
			});
            $('#btnUploadImage').on('click', function () {
                var fileExtension = ['jpg', 'png', 'jpeg'];
				var filename = $('#iUpload').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
				else
				{
					var extension = filename.replace(/^.*\./, '');
					if ($.inArray(extension, fileExtension) == -1) {
						alert("Please select only image files.");
						return false;
					}
                }
                var fdata = new FormData();
                var fileUpload = $("#iUpload")[0];
				var files = fileUpload.files;
				var newUrl = '@Url.Action("Index", "Site")';
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddImage", "Site")",//"/ExportImport?handler=Import",
                    beforesend: function (xhr) {
                        xhr.setrequestheader("xsrf-token",
                            $('input:hidden[name="__requestverificationtoken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        //alert(response);
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
							alert('Success Uploaded');
							window.location.href = newUrl;
                        }
                    },
                    error: function (e) {
						alert(e);
                    }
                });
            })
            $('#btnUpdateImage').on('click', function () {
                var fileExtension = ['jpg', 'png', 'jpeg'];
				var filename = $('#iUpdate').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
				else
				{
					var extension = filename.replace(/^.*\./, '');
					if ($.inArray(extension, fileExtension) == -1) {
						alert("Please select only image files.");
						return false;
					}
                }
                var fdata = new FormData();
				var fileUpload = $("#iUpdate")[0];
				var files = fileUpload.files;
				var newUrl = '@Url.Action("Index", "Site")';
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateI", "Site")",//"/ExportImport?handler=Import",
                    beforesend: function (xhr) {
                        xhr.setrequestheader("xsrf-token",
                            $('input:hidden[name="__requestverificationtoken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        //alert(response);
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
							alert('Success Updated');
							window.location.href = newUrl;
                        }
                    },
                    error: function (e) {
						alert(e);
                    }
                });
            })
            //#endregion

			document.getElementById("loading").style.display = "none";
    })
		
		$(document).on('click', '#backLink', function () {
			history.go(-1);
		})

	</script>
	@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjrac-6MHc6-JNehr3r1lFBC-vqI_Wh88&callback=initAutocomplete&libraries=places" type="text/javascript"></script>*@
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjrac-6MHc6-JNehr3r1lFBC-vqI_Wh88&callback=initializeMap&libraries=places" type="text/javascript"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
