@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Billboard360.Web.Models.BillboardTypeListOutputModel>
@{
	ViewData["Title"] = "Billboard Type Listing";
}
<div class="row">
	<div class="col-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Manage Billboard Type</h3>
				<p align="right">
					<a class="text-dark" style="padding: 5px;" asp-area="" asp-controller="BillboardType" asp-action="Create"><img src="~/image/add-create.png" style="height: 15px;width: 15px;" /> Add Billboard Type</a>
				</p>
			</div>
			@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
			{
				<div class="alert alert-danger" role="alert">
					@Html.ValidationSummary(true, "Terjadi kesalahan saat mendapatkan data.")
				</div>
			}
			<!-- /.box-header -->
			<div class="box-body auto-table">
				<table id="example1" class="table table-bordered table-striped" style="width:100%;">
					<thead>
						<tr>
							@*<th>Id</th>*@
							<th>Kode</th>
							<th>Billboard Type</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								@*<td>@Html.DisplayFor(modelItem => item.ProvinceID)</td>*@
								<td>@Html.DisplayFor(modelItem => item.Kode)</td>
								<td>@Html.DisplayFor(modelItem => item.Type)</td>
							</tr>
						}
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- DataTables -->
@*<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>*@
@*<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>*@
<!-- page script -->
<script>
    //$(function () {
    //    $('#example1').DataTable();
    //});
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Province")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Province";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
</script>