@model Billboard360.Web.Models.InfoBankDetailModel
@{
    ViewData["Title"] = "Update Bank";
}

<div class="wrapper fadeInDown">
	<div id="formContent" class="regis">
		<div style="text-align:right;">
			<button type="button" id="backLink" style="background:red;"><span aria-hidden="true">&times;</span></button>
		</div>
		<h2 class="active"> Update Bank </h2>
		<!-- Login Form -->
		@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
		{
			<div class="alert alert-danger" role="alert">
				@Html.ValidationSummary(true, "Terjadi kesalahan saat mengirim.")
			</div>
		}
		<form method="post" action="~/Bank/UpdateBank">
			<input type="hidden" id="bankID" name="bankID" value="@Model.BankID">
			<input type="text" id="kode" class="fadeIn first form-control" name="kode" placeholder="kode" value="@Model.Kode" data-val="true" data-val-required="The bank code is required" />
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="kode" data-valmsg-replace="true"></span>
			<input type="text" id="nama" class="fadeIn second form-control" name="nama" placeholder="nama bank" value="@Model.Bank" data-val="true" data-val-required="The bank name is required" />
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="nama" data-valmsg-replace="true"></span>
			@*			<input type="hidden" id="logoBank" class="fadeIn third" name="logoBank" placeholder="logo bank" value="@Model.LogoBank">*@
			<input type="submit" class="fadeIn fourth" value="Update">
		</form>
	</div>
</div>


