@model Billboard360.Web.Models.EditDetail
@{
	ViewData["Title"] = "Perbarui Detail Site";
}

<div class="col-md-6 offset-md-3">
	<div class="card card-custom">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">Perbarui Detail Site</h3>
			</div>
		</div>

		<form method="post" action="~/Site/UpdateItem">
			<div class="card-body">
				@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
				{
					<div class="alert alert-danger" role="alert">
						@Html.ValidationSummary(true, "Error when updating.")
					</div>
				}

				<input type="hidden" asp-for="input.SiteItemID" value="@Model.val.SiteItemID">
				<input type="hidden" asp-for="input.SitePriceID" value="@Model.val.SitePriceID">

				<div class="form-group">
					<label>Kode Arah Lokasi</label>
					<input type="text" class="form-control" asp-for="input.KodeLokasi" value="@Model.val.KodeLokasi" data-val="true" data-val-required="Kode Lokasi harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="KodeArahLokasi" data-valmsg-replace="true"></span>
				</div>

				<div class="form-group">
					<label>Arah Lokasi</label>
					<input type="text" class="form-control" asp-for="input.ArahLokasi" value="@Model.val.ArahLokasi" data-val="true" data-val-required="Arah Lokasi harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="ArahLokasi" data-valmsg-replace="true"></span>
				</div>

				<div class="form-group">
					<label>Panjang</label>
					<input type="text" class="form-control" asp-for="input.Panjang" value="@Model.val.Panjang" data-val="true" data-val-required="Panjang harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="Panjang" data-valmsg-replace="true"></span>
				</div>

				<div class="form-group">
					<label>Lebar</label>
					<input type="text" class="form-control" asp-for="input.Lebar" value="@Model.val.Lebar" data-val="true" data-val-required="Lebar harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="Lebar" data-valmsg-replace="true"></span>
				</div>

				<div class="form-group">
					<label>Dasar</label>
					<input type="text" class="form-control" asp-for="input.MinimDasar" value="@Model.val.MinimDasar" data-val="true" data-val-required="Dasar Order harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="input.MinimDasar" data-valmsg-replace="true"></span>
				</div>

				<div class="form-group">
					<label>Minimum Order</label>
					<input type="text" class="form-control" asp-for="input.MinimOrder" value="@Model.val.MinimOrder" data-val="true" data-val-required="Min Order harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="input.MinimOrder" data-valmsg-replace="true"></span>
				</div>

				<div class="form-group">
					<label>Harga Awal</label>
					<input type="text" class="form-control" asp-for="input.HargaAwal" value="@Model.val.HargaAwal" data-val="true" data-val-required="Harga harus di isi"/>
					<span style="display:block;" class="invalid-feedback" data-valmsg-for="input.HargaAwal" data-valmsg-replace="true"></span>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" class="btn btn-primary mr-2" value="Simpan">
				<button type="button" id="backLink" class="btn btn-secondary">Batal</button>
			</div>
		</form>
	</div>
</div>